
<nav id="navbar-shadow" class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
  <a class="navbar-brand " href="/">
    <img src="/assets/img/logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
    <span class="logo"> News Scraper</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"> <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
          <button id="savedArticles" type="button" class="btn btn-outline-dark mr-4 my-2">
            <a id="savedArticles"class="nav-link">
              <img src="/assets/img/saved.png" width="20" height="20" class="d-inline-block align-top" alt="">
              <span class="navItem">Saved Articles</span> 
            </a>
        </button>
      </li>
      <li class="nav-item">
          <button type="button" class="btn btn-outline-dark my-2">
        <a class="nav-link" href="/scrape">
            <img src="/assets/img/scraper.png" width="20" height="20" class="d-inline-block align-top" alt="">
            <span class="navItem">Scrape Articles</span> 
        </a>
        </button>
      </li>
    </ul>
  </div>
  </div>
</nav>
